@import url('googleapis.com');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #333;
    font-size: 1em;
}
.header
{
min-height: 100vh; 
width: 100%;  
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(1.jpg);
background-position: center;
background-size: cover;
position: relative;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.2em;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: end;
    background-color: #008080;
} 
nav img{
    width: 220px;
}
.nav-links{
 flex: 1;
 text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
   }
.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li:hover{
    border: 2px solid #fff;
    border-radius: 20px;
}


.text-box{
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    
    color: #fff;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
}
.text-box strong{
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    background: rgb(80, 69, 6);
    position: relative;
    cursor: pointer;
    padding: 12px 34px ;
    margin-bottom: 10px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.closebtn,.menubtn{
    font-size: 30px;
    margin: 0px 20px;
    display: none;
    color: #fff;
}

.blogs{
width: 50%;
margin: auto;
text-align: justify;
padding-top: 50px;
}
.blogs h3{
    text-align: left;
     font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blogs h1{
    text-align: center;
     font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blogs h2{
    text-align: left;
     font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: #2f4f4f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
}
.blogs a{
    color: blueviolet;
}

.services{
width: 90%;
margin: auto;
text-align: center;
padding-top: 50px;
}
.services h1{
   
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
}
.services h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
}

.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.services-col{
    width: 290px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-image{
    flex: 1;
    width: 100%;
    object-fit: cover;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.card-content{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.faq h1{
   
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.faq h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
}
.faq h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
}
.faq{
width: 100%;
margin: auto;
text-align: center;
padding-top: 50px;
background-color: rgb(4, 63, 78);
display: flex;
flex-direction: column;
justify-content: center;
box-sizing: border-box;
align-items: center;
padding-bottom: 50px;
}
.faq h2{
    color: #fff;
    padding-bottom: 10px;
}
.faq-box{
    width: 60%;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5); 
    margin-bottom: 10px;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

/*---------footer---------*/
.footer{
    background-color: burlywood;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
@media(max-width:700px){
.text-box h1{
    font-size: 20px;  
}
.nav-links{
    display: block;
}

.nav-links ul{
    padding: 30px;
}
}
@media(max-width:700px){
    ul{
        display: none;
    }
    ul li{
        display: block;
        width: 70%;
        margin: 5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;;
    }
    .menubtn{
        display: block;
    }
    #menu{
        width: 100%;
        background: #008080;
        position: absolute;
        top: 60px;
        right: 0;
        text-align: center;
        z-index: 2;
         }
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
@media(max-width:700px){
    .blogs{
        width: 90%;
    }
    .blogs img{
        width: 300px;
    }
    .img4{
        width: 100px;
     
    }
    .services-col{
    width: 100%;
    }
    .faq-box{
    width: 90%;
    }

}